.header {
  margin: 0;
  height: 15vh;
  display: flex;
  align-items: center;   
  position: relative;    
}

.h1 {
  position: absolute;
  left: 50%;                    
  transform: translateX(-50%);   
}

.logo {
  height: 100px;
  width: auto;
  margin-left: auto;  
  padding-right: 2%;
}