body {
  margin: 0;
  padding: 0;

    background: linear-gradient(
    to right,
    green 0%,
    green 33.33%,
    white 33.33%,
    white 66.66%,
    red 66.66%,
    red 100%
  );
}

.hero {
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.heroImg {
  width: 80vw;
  height: 85vh;
  object-fit: cover; 
}